
<div class="nav-wrapper">


    <div class="btn-group" style="width:100%">
        <button style="width:100%" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Select School <span class="caret"></span>
        </button>
        <ul style="width:100%" class="dropdown-menu" role="menu">
            <li><a href="#">Select School</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>


    <ul id="nav"
        class="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/home"> <i class="ti-home"></i><span data-i18n="Home"></span> </a></li>
        <li><a href="#/districts"> <i class="ti-flag-alt"></i>Districts</a></li>
        <li><a href="#/schools"> <i class="ti-flag-alt-2"></i>Schools</a></li>
        <li><a href="#/type"> <i class="ti-eye"></i><span></span>Training</a></li>
        <li><a href="#/boxes"> <i class="ti-bar-chart"></i><span></span>AEIS/TAPR</a></li>
        <li><a href="#/components"> <i class="ti-pie-chart"></i><span></span>STAAR</a></li>
        <li><a href="#/tab"> <i class="ti-pulse"></i><span></span>Dashboards</a></li>
        <li><a href="#/tab"> <i class="ti-server"></i><span></span>Bulk Data</a></li>
        <li><a href="#/singleton"> <i class="ti-map-alt"></i><span></span>Mapping</a></li>

    </ul>
</div>