
<div>
    <div>
        <section id="header" class="top-header"></section>

        <aside id="nav-container">
            <div id="nav-wrapper">

            </div>
        </aside>
    </div>

    <div class="view-container">
        
        <div class="page-splash" ng-class="{'page-splash-active':spinner}">
            <div class="page-splash-message page-splash-message-subtle">Loading...</div>
        </div>

        <section id="content" class="animate-fade-up" style="padding:25px">




            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6 col-xsm-6" style="opacity:.8">
                            <div class="panel mini-box">
                                <span class="box-icon bg-success">
                                    <i class="fa fa-rocket"></i>
                                </span>
                                <div class="box-info">
                                    <p class="size-h2">{{numberOfProjects}} Projects</p>
                                    <p class="text-muted"><span data-i18n="Growth"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xsm-6" style="opacity:.8">
                            <div class="panel mini-box">
                                <span class="box-icon bg-info">
                                    <i class="fa fa-users"></i>
                                </span>
                                <div class="box-info">
                                    <p class="size-h2">{{amountNeeded | currency}} asked</p>
                                    <p class="text-muted"><span data-i18n="New users"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-xsm-6">
                            <div class="panel mini-box">
                                <span class="box-icon bg-warning">
                                    <i class="fa fa-dollar"></i>
                                </span>
                                <div class="box-info">
                                    <p class="size-h2">{{NuDistricts}} Districts</p>
                                    <p class="text-muted"><span data-i18n="Profit"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xsm-6">
                            <div class="panel mini-box">
                                <span class="box-icon bg-danger">
                                    <i class="fa fa-shopping-cart"></i>
                                </span>
                                <div class="box-info">
                                    <p class="size-h2">{{NuSchools}} Schools</p>
                                    <p class="text-muted"><span data-i18n="Sales"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">

                </div>
            </div>



            <div class="row">
                <div class="col-lg-12">
                    <div id="example" class="k-content" style="background:transparent">
                        <div class="chart-wrapper">
                            <div id="chart"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Table"></span></strong></div>

                    <div id="donorsGrid"></div>


                </div>
            </div>

        </section>
    </div>
</div>
