@{
    ViewBag.Title = "Slim Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" class="content-container" style="height:100%">
    <section style="height:100%" data-ng-view class="view-container {{admin.pageTransition.class}}"></section>
</div>